
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #FAFAFA;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
.header-container{
    display: flex;
    align-items: center; /*alinha verticalmente*/
}
.left-space-header-container{
    width: 10%;
    min-width: 100px;
}
.right-space-header-container{
    width: 90%;
}
.header-logo{
    width: 5vw;
    min-width: 100px;
}
.header-logo:hover{
    cursor: pointer;
}
.menu{
    width: 60vw;
    display: block;
    margin: auto;
}
.menu a{
    text-decoration: none;
    color: #26435E;
}
.menu li{
    display: inline;
    padding: 4.5vh 3vw;
    text-align: center;
    font-size: 1vw;
}

.menu li:hover , .menu li a:hover{
    cursor: pointer;
    background-color: #26435E;
    color: white !important;
    text-decoration: none;
}


.line-under-header{
    width: 80vw; 
    margin: auto;
}
.header-container:hover + .line-under-header{
    width: 100vw;
    transition: 0.5s ease-in;
}